pom.xml
*.jar
/lib/
/classes/
/bin
/native
/checkouts
/.classpath
/.project
/apps
/apps.spec
/apps*.tar.gz
/target
.eastwood
.lein-*
*~
\#*
*.swp
.dir-locals.el
.*.eld
.nrepl-port
apps.properties
.hgignore
test2junit
build.xml
.idea
*.iml
*.ipr
*.iws
.DS_Store
*.class
GIT_COMMIT
VERSION
Dockerfile.local
profiles.clj
/repl/
telepresence.log
.clj-kondo/
.lsp/

