{{ with $base := (printf "configs/%s" (env "DE_ENV")) -}}
# Application details.
{{ with $v := (key (printf "%s/services/port" $base)) }}apps.app.listen-port      = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/environment-name" $base)) }}apps.app.environment-name = {{ $v }}{{ end }}

# Route-independent feature flags.
{{ with $v := (key (printf "%s/agave/enabled" $base)) }}apps.features.agave      = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/agave/jobs-enabled" $base)) }}apps.features.agave.jobs = {{ $v }}{{ end }}

# Database settings.
{{ with $v := (key (printf "%s/de-db/driver" $base)) }}apps.db.driver      = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de-db/subprotocol" $base)) }}apps.db.subprotocol = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de-db/host" $base)) }}apps.db.host        = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de-db/port" $base)) }}apps.db.port        = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de-db/name" $base)) }}apps.db.name        = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de-db/user" $base)) }}apps.db.user        = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de-db/pass" $base)) }}apps.db.password    = {{ $v }}{{ end }}

# JEX connection settings.
{{ with $v := (key (printf "%s/jex/base" $base)) }}apps.jex.base-url = {{ $v }}{{ end }}

# Data Info connection settings.
{{ with $v := (key (printf "%s/data-info/base" $base)) }}apps.data-info.base-url = {{ $v }}{{ end }}

# Workspace app category names.
{{ with $v := (key (printf "%s/de/root-app-category" $base)) }}apps.workspace.root-app-category            = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/default-app-categories" $base)) }}apps.workspace.default-app-categories       = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/dev-app-category-index" $base)) }}apps.workspace.dev-app-category-index       = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/favorites-app-category-index" $base)) }}apps.workspace.favorites-app-category-index = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/apps/public-workspace-id" $base)) }}apps.workspace.public-id                    = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/apps/root-category-attrs" $base)) }}apps.workspace.metadata.category.attrs      = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-attr-iri" $base)) }}apps.workspace.metadata.beta.attr.iri       = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-attr-label" $base)) }}apps.workspace.metadata.beta.attr.label     = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-value" $base)) }}apps.workspace.metadata.beta.value          = {{ $v }}{{ end }}

# The domain name to append to the user id to get the fully qualified user id.
apps.uid.domain = {{ (key (printf "%s/de/cas-uid-domain" $base)) }}

# The path to the home directory in iRODS.
{{ with $v := (key (printf "%s/de/irods-home" $base)) }}apps.irods.home = {{ $v }}{{ end }}

# The maximum length of an iRODS path, used in max HT Path List file size calculations.
# See https://github.com/irods/irods/blob/805c01f55ea23a141cb0fa3f449f5172b3a19657/lib/core/include/rodsDef.h#L59-L61
{{ with $v := (key (printf "%s/irods/path-max-len" $base)) }}apps.irods.path-max-len = {{ $v }}{{ end }}

# Batch job settings.
{{ with $v := (key (printf "%s/jex/batch-group" $base)) }}apps.batch.group               = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/apps/path-list-info-type" $base)) }}apps.batch.path-list.info-type = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/apps/path-list-max-paths" $base)) }}apps.batch.path-list.max-paths = {{ $v }}{{ end }}

# Agave connection settings.
{{ with $v := (key (printf "%s/agave/base" $base)) }}apps.agave.base-url             = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/agave/client-key" $base)) }}apps.agave.key                  = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/agave/client-secret" $base)) }}apps.agave.secret               = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/agave/base" $base)) }}apps.agave.oauth-base           = {{ $v }}/oauth2{{ end }}
{{ with $v := (key (printf "%s/agave/oauth-refresh-window" $base)) }}apps.agave.oauth-refresh-window = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/base" $base)) }}apps.agave.redirect-uri         = {{ $v }}/oauth/callback/agave{{ end }}
{{ with $v := (key (printf "%s/irods/host" $base)) }}apps.agave.storage-system       = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/agave/read-timeout" $base)) }}apps.agave.read-timeout         = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/agave/page-length" $base)) }}apps.agave.page-length          = {{ $v }}{{ end }}

# Agave callback settings.
{{ with $v := (key (printf "%s/agave/job-status-callback" $base)) }}apps.agave.callback-base = {{ $v }}{{ end }}

# PGP Settings
{{ with $v := (key (printf "%s/data-container/pgp-keyring-path" $base)) }}apps.pgp.keyring-path = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/data-container/pgp-key-pass" $base)) }}apps.pgp.key-password = {{ $v }}{{ end }}

# Notification agent connection settings.
{{ with $v := (key (printf "%s/notifications/base" $base)) }}apps.notificationagent.base-url = {{ $v }}{{ end }}

# The job status polling interval.
{{ with $v := (key (printf "%s/apps/job-status-poll-interval" $base)) }}apps.jobs.poll-interval = {{ $v }}{{ end }}

# The base URL for iplant-groups.
{{ with $v := (key (printf "%s/groups/base" $base)) }}apps.iplant-groups.base-url     = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/apps/grouper-user" $base)) }}apps.iplant-groups.grouper-user = {{ $v }}{{ end }}

# Metadata connection settings
{{ with $v := (key (printf "%s/metadata/base" $base)) }}apps.metadata.base-url = {{ $v }}{{ end }}

# Permissions service connection settings.
{{ with $v := (key (printf "%s/permissions/base" $base)) }}apps.permissions.base-url = {{ $v }}{{ end }}

# iPlant Email service settings.
{{ with $v := (key (printf "%s/email/base" $base)) }}apps.email.base-url             = {{ $v }}{{ end }}
apps.email.app-deletion.from    = {{ (key (printf "%s/apps/deletion-from-addr" $base)) }}
{{ with $v := (key (printf "%s/apps/deletion-subject" $base)) }}apps.email.app-deletion.subject = {{ $v }}{{ end }}

# UI host
apps.ui.base-url = {{ (key (printf "%s/de/base" $base)) }}

# AMQP
{{ with $v := (key (printf "%s/amqp/uri" $base)) }}apps.amqp.uri = {{ $v }}{{ end }}
{{ end -}}
