{:config-in-ns {apps.kormadb                        {:ignore [:inline-def]}
                apps.routes.admin                   {:ignore [:unresolved-symbol]}
                apps.routes.admin.apps              {:ignore [:unresolved-symbol]}
                apps.routes.admin.routes            {:ignore [:unresolved-symbol]}
                apps.routes.admin.reference-genomes {:ignore [:unresolved-symbol]}
                apps.routes.admin.tool-requests     {:ignore [:unresolved-symbol]}
                apps.routes.analyses                {:ignore [:unresolved-symbol]}
                apps.routes.apps                    {:ignore [:unresolved-symbol]}
                apps.routes.apps.categories         {:ignore [:unresolved-symbol]}
                apps.routes.apps.communities        {:ignore [:unresolved-symbol]}
                apps.routes.apps.elements           {:ignore [:unresolved-symbol]}
                apps.routes.apps.metadata           {:ignore [:unresolved-symbol]}
                apps.routes.apps.pipelines          {:ignore [:unresolved-symbol]}
                apps.routes.apps.versions           {:ignore [:unresolved-symbol]}
                apps.routes.bootstrap               {:ignore [:unresolved-symbol]}
                apps.routes.callbacks               {:ignore [:unresolved-symbol]}
                apps.routes.groups                  {:ignore [:unresolved-symbol]}
                apps.routes.integration-data        {:ignore [:unresolved-symbol]}
                apps.routes.oauth                   {:ignore [:unresolved-symbol]}
                apps.routes.reference-genomes       {:ignore [:unresolved-symbol]}
                apps.routes.status                  {:ignore [:unresolved-symbol]}
                apps.routes.submissions             {:ignore [:unresolved-symbol]}
                apps.routes.tools                   {:ignore [:unresolved-symbol]}
                apps.routes.users                   {:ignore [:unresolved-symbol]}
                apps.routes.webhooks                {:ignore [:unresolved-symbol]}
                apps.routes.workspaces              {:ignore [:unresolved-symbol]}}}
