{:app_type "DE",
 :beta false,
 :can_favor true,
 :can_rate true,
 :can_run true,
 :categories [],
 :deleted false,
 :description "Testing",
 :disabled false,
 :edited_date "<timestamp>",
 :hierarchies [],
 :id "<uuid-1>",
 :integrator_email "testuser-<unique>@example.org",
 :integrator_name "Test User",
 :isBlessed false,
 :is_favorite false,
 :is_public false,
 :job_stats {:job_count_completed 0},
 :limitChecks {:canRun true, :results []},
 :name "golden app-<unique>",
 :overall_job_type "executable",
 :permission "own",
 :pipeline_eligibility {:is_valid true, :reason ""},
 :rating {:average 0.0, :total 0},
 :references [],
 :step_count 1,
 :suggested_categories [],
 :system_id "de",
 :tools
 [{:container
   {:image
    {:deprecated false,
     :name "harbor.cyverse.org/de/url-import",
     :tag "latest",
     :url "https://registry.hub.docker.com/u/discoenv/url-import/"}},
   :description "Word Count",
   :id "<uuid-2>",
   :location "",
   :name "wc",
   :type "executable",
   :version "0.0.1"}],
 :version "Unversioned",
 :version_id "<uuid-3>",
 :versions [{:version "Unversioned", :version_id "<uuid-3>"}]}
